@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(117deg, rgba(24,133,248,1) 0%, rgba(170,230,181,1) 100%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40dvh;
    min-width: 20%;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #40444b;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #36393e;
    }
  }

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid #40444b;
  border-top: 10px solid #36393e;
  animation: spin-animation 1.5s linear infinite;
}

.sidepanel-hide {
  
}