@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40dvh;
    min-width: 30dvh;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #40444b;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #36393e;
    }
  }

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid #40444b;
  border-top: 10px solid #36393e;
  animation: spin-animation 1.5s linear infinite;
}

@keyframes sidepanel-expand {
  from {
    grid-template-columns: 0% 100%;
  }

  to {
    grid-template-columns: 100% 0%;
  }
}

@keyframes sidepanel-collapse {
  from {
    grid-template-columns: 100% 0%;
  }

  to {
    grid-template-columns: 0% 100%;
  }
}

.expand {
  animation: sidepanel-expand 1s forwards;
}

.shrink {
  animation: sidepanel-collapse 1s forwards;
}

.grid-anim {
  transition: grid-template-columns 1s;
}

.sidepanel-hide {
  grid-template-columns: 0% 100%;
}

.sidepanel-show {
  grid-template-columns: 100% 0%;
}

.b-transition {
  transition: all 0.5s linear;
}

.oswald-300 {
  font-family: 'Oswald', sans-serif;
  src: url('../public/fonts/Oswald-VariableFont_wght.ttf') format(ttf);
  font-weight: 300;
  font-style: normal;
}

.oswald-700 {
  font-family: 'Oswald', sans-serif;
  src: url('../public/fonts/Oswald-VariableFont_wght.ttf') format(ttf);
  font-weight: 700;
  font-style: normal;
}