@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(117deg, rgba(24,133,248,1) 0%, rgba(170,230,181,1) 100%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 40dvh;
}

